---
title: "the éphémère blog"
email: hello@ephemerecreative.com
description: |
  A blog about creative media and a few other things. Photography, 
  web development, media, design, art, the internet, and potatoes are all 
  considered on-topic.
baseurl: ''
url: 'https://blog.ephemerecreative.ca'
twitter_username: raphaeltm_
markdown: kramdown
timezone: America/Vancouver
paginate: 12
paginate_path: "/page-:num/"
disqus:
  shortname: ephemere-blog
gems:
- jekyll-feed
- jekyll-paginate
- jekyll-sitemap
- algoliasearch-jekyll
exclude:
- vendor
- Gemfile
- Gemfile.lock
algolia:
  application_id: 'NO0ERQGCSX'
  index_name:     'Pages'
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "post"
      comments: true