--- 
layout: default 
title: Services
permalink: /services/
menuPosition: 1
--- 

<div>
    <p>We offer a variety of creative media services, including web site design and creation, web application development, app design and development, and photography.</p>
    <p>We also offer consulting for web and app based projects, and we can offer branding and ux-design in collaboration with our partners at <a href="http://letspivot.ca">Pivot</a>.</p>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="spacer-70"></div>
  </div>
</div>

<div class="row">
  {% assign services = site.services | sort: 'menuPosition' %}
  {% for service in services %}
    <div class="col-xs-12 col-sm-6">
        {% assign url=service.url | relative_url %}
        {% capture direction %}{% cycle 'right', 'left' %}{% endcapture %}
        {% include colour_tile.html url=url switch=true text=service.title direction=direction %}
    </div>
  {% endfor %}
</div>