<footer id="main-footer" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <ul class="social-media-list">
                <li>&copy; {{ site.title | escape }}</li>
                <li>Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 text-right hidden-xs">
            <p>{{ site.description | escape }}</p>

            <p>Website by <a href="https://ephemerecreative.ca" target="_blank">éphémère</a></p>
        </div>

        <div class="col-xs-12 col-sm-6 visible-xs-block">
            <p>{{ site.description | escape }}</p>
        </div>
    </div>
</footer>