<footer id="main-footer" class="container" {% if page.hideFooter %}style="display:none;"{% endif %}>
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
        
        <div class="col-xs-12 col-sm-3">
            <ul>
                <li>&copy; {{ site.title | escape }}</li>
                <li>{{ site.description | newline_to_br }}</li>
                <!--<li>Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></li>-->
            </ul>
        </div>
        
        <div class="col-xs-12 col-sm-3">
            <h6 class="list-header">Services</h6>
            <br>
            <ul>
                {% assign services = site.services | sort: 'menuPosition' %}
                
                {% for service in services %}
                    {% assign url=service.url | relative_url %}
                    <li>
                        <a href="{{url}}">{{service.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12 col-sm-3">
            <h6 class="list-header">Products</h6>
            <br>
            <ul>
                {% assign products = site.products | sort: 'menuPosition' %}
                {% for product in products %}
                    <li>
                        <a href="{{product.link}}">{{product.title | title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col-xs-12 col-sm-3">
            <h6 class="list-header">Links</h6>
            <br>
            <ul>
                <li>
                    <a href="#" class="drift-open-chat" data-msg="Hi! Let me know what I can help you with :)">
                        <b>Contact us</b>
                    </a>
                </li>
                {% for link in site.data.links %}
                    <li>
                        <a href="{{link[1].url}}" title="{{link[1].description}}">{{link[0] | capitalize}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>