<header class="page-title text-center animated fadeInDown">
    <div class="page-title-content">
        <br>
        <a href="{{'/'|relative_url}}">
            <img src="{{'android-chrome-192x192.png' | relative_url}}" id="title-logo" alt="éphémère logo" />
        </a>
        <h1 class="animated fadeInUp">{{ page.title }} {% if page.subtitle %}<br><small>{{page.subtitle}}</small>{% endif %}</h1>
    </div>
    <a href="#" class="menu-trigger" id="main-menu-trigger">≡</a>
</header>
<a href="#" class="menu-trigger"><div id="main-menu-trigger-bg"></div></a>


<div id="menu" class="closed">
    <div id="viz"></div>
    <div class="vc-outer">
        <nav class="vc-inner text-center menu-inner">
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="{{ '/' | relative_url }}" class="menulink">Home</a>
                </li>
                {% assign menuPages = site.pages | sort: 'menuPosition' %}
                {% for site_page in menuPages %} 
                    {% if site_page.title and site_page.hideMenu != true %}
                        <li>{{ site_page.hideMenu }}
                            <a href="{{ site_page.url | relative_url }}" class="menulink">{{ site_page.title | escape }}</a>
                        </li>
                    {% endif %} 
                {% endfor %}
                <li>
                    <a href="https://blog.ephemerecreative.ca" class="menulink">What we say</a>
                </li>
                <li>
                    <a href="#" class="menulink drift-open-chat" data-msg="Hi! Let me know what we can help you with :)">Talk to us</a>
                </li>
                <li>
                    <a href="#" id="menu-close" class="menu-trigger">Close</a>
                </li>
            </ul>
        </nav>
    </div>
</div>