<figure class="img {{include.position|default:''}} {{include.size|default:''}}">
    {% if include.link %}
        <a href="{{include.link}}" target="_blank">
            <img src="{{ include.url | relative_url }}" alt="{{ include.alt | default: 'image' }}">
        </a>
    {% else %}
        <img src="{{ include.url | relative_url }}" alt="{{ include.alt | default: 'image' }}">
    {% endif %}
    {% if include.caption %}
        <figcaption>{{include.caption}}</figcaption>
    {% endif %}
</figure>