<p><i>Advertisement</i></p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ephemere Blog Inline -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-7702690531661278"
     data-ad-test="on"
     data-ad-slot="9105319944"></ins>

<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="ad-blocked">
    <p>Ads totally suck. But they help pay for things, like hosting, tools, and rent!</p>
    <p>If you want to keep your ad blocker on, maybe you could consider 
    <a href="https://photography.raphaeltm.com">buying one of my photos</a>, 
    or getting in touch with me about <a href="https://ephemerecreative.ca">my services</a>!</p>
</div>