---
---
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 17px;
$navbar-default-bg: #ffffff;
$text-color: #111;
$background-color: #fdfdfd;
$brand-primary: #32dc78;
$brand-accent: #A933FF;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$navbar-height: 60px;
// $container-lg: 728px;
// $container-md: 728px;
$navbar-brand-padding: 10px;
$thick-borders: 15px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  width: 100%;
}

#logo {
  max-height: 35px;
}

.adcontainer {
  text-align: center;
}

.navbar-brand {
  padding-top: $navbar-brand-padding;
  padding-bottom: $navbar-brand-padding;
  img {
    max-height: $navbar-height - ($navbar-brand-padding * 2);
    display: inline-block;
  }
  font-style: italic;
}

body {
  // padding-top: $navbar-height + ($navbar-brand-padding * 2);
  overflow: auto;
}


.site-header {
  a {
    text-decoration: none;
  }
}

.date {
  color: $grey-color;
  font-size: 14px;
}

.button {
  border: 1px solid $grey-color;
  display: inline-block;
  padding: 8px;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background: $grey-color-light;
    text-decoration: none;
  }
}


.article-pagination {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

.post-excerpt {
  margin-bottom: 40px;
  border-left: 3px solid $grey-color-light;
  padding-left: 10px;
}

.img {
  transition: all 0.3s linear;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  &.large {
    width: 878px;
    max-width: 878px;
    margin-left: -75px;
  }
  figcaption {
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
  &.left {
    float: left;
    width: $container-md / 1.65 + 100px;
    margin-left: -100px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &.right {
    float: right;
    width: $container-md / 1.65 + 100px;
    margin-right: -100px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  figcaption {
    font-size: 12px;
    color: $grey-color;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.content-license {
  font-size: 12px;
  color: $grey-color;
}

.clearfix {
  clear: both;
}

article.excerpt {
  text-align: center;
  perspective: 300px;
  
  a:hover {
    text-decoration: none;
  }
  
  h3 {
    margin: 5px;
    font-size: 22px;
  }
  
  .excerpt-transform {
    transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 0deg);
    transition: all 2s ease-in;
    &:hover {
      transform: rotate3d(1, 0, 0, 20deg) rotate3d(0, 1, 0, 30deg);
      transition: all .3s ease-in;
    }
  }
  
  .excerpt-container {
    height: 130px;
    background: #ffffff;
    overflow: hidden;
    color: $brand-primary;
    border: 4px solid $brand-primary;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
    small {
      color: $grey-color-dark;
      transition: all .2s ease-in;
    }
    h3 {
      color: $brand-primary;
      transition: all .2s ease-in;
    }
    &:hover {
      background: $brand-primary;
      transition: all .2s ease-in;
      small, h3 {
      transition: all .2s ease-in;
        color: #ffffff;
      }
    }
  }
}

#main-footer {
  $footer-size: 14px;
  padding-top: 20px;
  margin-bottom: 100px;
  font-size: $footer-size;
  h6 {
    font-size: $footer-size;
    margin: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

article.post footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ad-blocked {
  display: none;
  border: 2px solid $brand-primary;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    font-weight: 700;
  }
}

.floatingad {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

.instagram-media.instagram-media-rendered {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.embedly-card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#viz {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    pointer-events: none;
}

#menu {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  transition: all 1s ease-in-out;
  transform-origin: top;
  // transform: scale(1);
  opacity: 1;
  color: $grey-color;
  
  h3 {
    display: inline-block;
    width: 150px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: 15px;
  }
  &.closed {
    // transform: scale(0);
    top: -100%;
    opacity: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    a {
      color: $grey-color;
      text-decoration: none;
      font-size: 20px;
      transition: all 0.5s linear;
      &:hover {
        transition: all 0.5s linear;
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  .menu-inner {
    border: $thick-borders solid $brand-primary;
  }
}

#menu-close {
  display: inline-block;
  width: 150px;
  padding-top: 15px;
  border-top: 1px solid $grey-color-light;
  margin-top: 15px;
}

.vc-outer {
  display: table;
  height: 100%;
  width: 100%;
  .vc-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.page-title {
  width: 100%;
  height: 350px;
  position: relative;
  color: white;
  padding: 0 25px 0;
  a {
    color: white;
    pointer-events: all;
    &:hover {
      text-decoration: none;
    }
  }
  .menu-text {
    display: inline-block;
    padding-bottom: 3px;
    letter-spacing: 2px;
    text-align: center;
    width: 80px;
    padding-left: 6px;
  }
  svg, vml {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -5;
  }
  #title-logo {
    width: 50px;
  }
  h1 {
    font-style: italic;
    margin-top: 20px;
  }
  .page-title-content {
    pointer-events: none;
  }
}

.pass-through {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.colour-bg {
  transition: all 0.5s ease-in-out;
  &.switch {
    &:hover {
      transition: all 0.5s ease-in-out;
    }
    transition: all 0.5s ease-in-out;
  }
}

.colour-border {
  @extend .colour-bg;
}

.purple-bg {
  @extend .colour-bg;
  background: $brand-accent;
  &.switch:hover {
    background: $brand-primary;
  }
}

.green-bg {
  @extend .colour-bg;
  background: $brand-primary;
  &.switch:hover {
    background: $brand-accent;
  }
}

.purple-border {
  @extend .colour-bg;
  border: 5px solid $brand-accent;
  &.switch:hover {
    border-color: $brand-primary;
  }
}

.green-border {
  @extend .colour-border;
  border: 5px solid $brand-primary;
  &.switch:hover {
    border-color: $brand-accent;
  }
}

.colour-text {
  @extend .colour-bg;
}

.purple-text {
  @extend .colour-text;
  color: $brand-accent;
  &.switch:hover {
    color: $brand-primary;
  }
}

.green-text {
  @extend .colour-text;
  color: $brand-primary;
  &.switch:hover {
    color: $brand-accent;
  }
}

@for $i from 1 through 10 {
  .padding-#{$i*10} {
    padding: #{$i*10}px;
  }
}

.colour-tile-wrapper {
  position: relative;
  height: 400px;
  width: 100%;
}

.colour-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
  perspective: 1000px;
  h2 {
    margin: 0;
    font-style: italic;
  }
}

.colour-tile-transform {
  height: 300px;
  &.right {
    transform: rotate3d(0, 1, 0, 20deg);
    &:hover {
      transform: rotate3d(0, 1, 0, 0deg);
    }
  }
  &.left {
    transform: rotate3d(0, 1, 0, -20deg);
    &:hover {
      transform: rotate3d(0, 1, 0, 0deg);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

@for $i from 1 through 40 {
  $size: $i * 10;
  .spacer-#{$size} {
    height: #{$size}px;
    clear: both;
  }
}

@media only screen and (max-width: $container-md + 200) {
  .img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    &.large {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    &.left {
      float: left;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
    &.right {
      float: right;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}



@media only screen and (max-width: $container-sm) {
  .page-title {
    h1 {
      font-size: 28px;
    }
  }
}
