---
---
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 17px;
$navbar-default-bg: #ffffff;
$text-color: #111;
$background-color: #fdfdfd;
$brand-primary: #32dc78;
$brand-accent: #A933FF;

$grey-color: #aaa;
$grey-color-light: lighten($grey-color, 20%);
$grey-color-dark: darken($grey-color, 25%);

$navbar-height: 60px;
// $container-lg: 728px;
// $container-md: 728px;
$navbar-brand-padding: 10px;
$thick-borders: 15px;
$page-title-height: 350px;
$border-radius-base: 0px;

$btn-default-color: $grey-color;

$btn-primary-bg: white;
$btn-primary-border: $brand-primary;
$btn-primary-color: $brand-primary;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  width: 100%;
}

#logo {
  max-height: 35px;
}

.btn {
  border-width: 3px;
}

.btn-primary {
  transition: all 0.3s ease-in-out;
  &:hover, &:active, &:focus {
    transition: all 0.3s ease-in-out;
    background: $brand-primary !important;
    color: white !important;
    border-color: $brand-primary !important;
  }
}

.btn-default {
  transition: all 0.3s ease-in-out;
  &:hover, &:active, &:focus {
    transition: all 0.3s ease-in-out;
    background: $btn-default-border !important;
    color: white !important;
    border-color: $btn-default-border !important;
  }
}

.navbar-brand {
  padding-top: $navbar-brand-padding;
  padding-bottom: $navbar-brand-padding;
  img {
    max-height: $navbar-height - ($navbar-brand-padding * 2);
    display: inline-block;
  }
  font-style: italic;
}

body {
  padding-top: $page-title-height;
  overflow: auto;
}


.site-header {
  a {
    text-decoration: none;
  }
}

.date {
  color: $grey-color;
  font-size: 14px;
}


.img {
  transition: all 0.3s linear;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  &.large {
    width: 878px;
    max-width: 878px;
    margin-left: -75px;
  }
  figcaption {
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
  &.left {
    float: left;
    width: $container-md / 1.65 + 100px;
    margin-left: -100px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &.right {
    float: right;
    width: $container-md / 1.65 + 100px;
    margin-right: -100px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  figcaption {
    font-size: 12px;
    color: $grey-color;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 15px;
}


.clearfix {
  clear: both;
}

#main-footer {
  $footer-size: 14px;
  padding-top: 20px;
  margin-bottom: 100px;
  font-size: $footer-size;
  h6 {
    font-size: $footer-size;
    margin: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

.instagram-media.instagram-media-rendered {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.embedly-card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#viz {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    pointer-events: none;
}

#menu {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  transition: all 1s ease-in-out;
  transform-origin: top;
  // transform: scale(1);
  opacity: 1;
  color: $grey-color;
  
  h3 {
    display: inline-block;
    width: 150px;
    padding-bottom: 15px;
    border-bottom: 1px solid $grey-color;
    margin-bottom: 15px;
  }
  &.closed {
    // transform: scale(0);
    top: -100%;
    opacity: 0;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    a {
      color: $grey-color;
      text-decoration: none;
      font-size: 20px;
      transition: all 0.5s linear;
      &:hover {
        transition: all 0.5s linear;
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  .menu-inner {
    border: $thick-borders solid $brand-primary;
  }
}

#menu-close {
  display: inline-block;
  width: 150px;
  padding-top: 15px;
  border-top: 1px solid $grey-color;
  margin-top: 15px;
}

.vc-outer {
  display: table;
  height: 100%;
  width: 100%;
  .vc-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.page-title {
  width: 100%;
  height: $page-title-height;
  position: absolute;
  color: white;
  padding: 0 25px 0;
  top: 0px;
  z-index: 200;
  
  a {
    color: white;
    cursor: pointer;
    pointer-events: all;
    &:hover {
      text-decoration: none;
    }
  }
  .menu-text {
    display: inline-block;
    padding-bottom: 3px;
    letter-spacing: 2px;
    text-align: center;
    width: 80px;
    padding-left: 6px;
  }
  svg, vml {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -5;
  }
  #title-logo {
    width: 50px;
  }
  h1 {
    font-style: italic;
    margin-top: 20px;
  }
  .page-title-content {
    pointer-events: none;
  }
  small {
    color: white;
    font-size: 14px;
  }
}

.fixed {
  position: fixed;
  top: 0;
}

.pass-through {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.colour-bg {
  transition: all 0.5s ease-in-out;
  &.switch {
    &:hover {
      transition: all 0.5s ease-in-out;
    }
    transition: all 0.5s ease-in-out;
  }
}

.colour-border {
  @extend .colour-bg;
}

.purple-bg {
  @extend .colour-bg;
  background: $brand-accent;
  &.switch:hover {
    background: $brand-primary;
  }
}

.green-bg {
  @extend .colour-bg;
  background: $brand-primary;
  &.switch:hover {
    background: $brand-accent;
  }
}

.purple-border {
  @extend .colour-bg;
  border: 5px solid $brand-accent;
  &.switch:hover {
    border-color: $brand-primary;
  }
}

.green-border {
  @extend .colour-border;
  border: 5px solid $brand-primary;
  &.switch:hover {
    border-color: $brand-accent;
  }
}

.colour-text {
  @extend .colour-bg;
}

.purple-text {
  @extend .colour-text;
  color: $brand-accent;
  &.switch:hover {
    color: $brand-primary;
  }
}

.green-text {
  @extend .colour-text;
  color: $brand-primary;
  &.switch:hover {
    color: $brand-accent;
  }
}

@for $i from 1 through 10 {
  .padding-#{$i*10} {
    padding: #{$i*10}px;
  }
}

.colour-tile-transform {
  height: 300px;
  &.right {
    transform: rotate3d(0, 1, 0, 20deg);
  }
  &.left {
    transform: rotate3d(0, 1, 0, -20deg);
  }
}

.colour-tile-wrapper {
  position: relative;
  height: 350px;
  width: 100%;
  
  &:hover {
    .colour-tile-go {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    .colour-tile-transform {
      &.right {
        transform: rotate3d(0, 1, 0, 0deg);
      }
      &.left {
        transform: rotate3d(0, 1, 0, 0deg);
      }
    }
  }
}

.colour-tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
  perspective: 1000px;
  h2 {
    margin: 0;
    font-style: italic;
  }
}

.colour-tile-go {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: $grey-color;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

.home-scroll-down {
  webkit-animation-duration: 3s;
  animation-duration: 3s;
  webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  
}

// SLIDEIMAGES
.slide-image {
  img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }
}

.slide-container {
  position: relative;
  height: 300px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

@for $i from 1 through 40 {
  $size: $i * 10;
  .spacer-#{$size} {
    height: #{$size}px;
    clear: both;
  }
}

@media only screen and (max-width: $container-md + 200) {
  .img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    &.large {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    &.left {
      float: left;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
    &.right {
      float: right;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}



@media only screen and (max-width: $container-sm) {
  .page-title {
    h1 {
      font-size: 28px;
    }
  }
}
