---
---
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 17px;
$navbar-default-bg: #ffffff;
$text-color: #111;
$background-color: #fdfdfd;
$brand-primary: #32dc78;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$navbar-height: 60px;
$container-lg: 728px;
$container-md: 728px;
$navbar-brand-padding: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

#logo {
  max-height: 35px;
}

.adcontainer {
  text-align: center;
}

.navbar-brand {
  padding-top: $navbar-brand-padding;
  padding-bottom: $navbar-brand-padding;
  img {
    max-height: $navbar-height - ($navbar-brand-padding * 2);
    display: inline-block;
  }
  font-style: italic;
}

body {
  padding-top: $navbar-height + ($navbar-brand-padding * 2);
}


.site-header {
  a {
    text-decoration: none;
  }
}

.date {
  color: $grey-color;
  font-size: 14px;
}

.button {
  border: 1px solid $grey-color;
  display: inline-block;
  padding: 8px;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background: $grey-color-light;
    text-decoration: none;
  }
}


.article-pagination {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

.post-excerpt {
  margin-bottom: 40px;
  border-left: 3px solid $grey-color-light;
  padding-left: 10px;
}

.img {
  transition: all 0.3s linear;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  &.large {
    width: 878px;
    max-width: 878px;
    margin-left: -75px;
  }
  figcaption {
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
  &.left {
    float: left;
    width: $container-md / 1.65 + 100px;
    margin-left: -100px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &.right {
    float: right;
    width: $container-md / 1.65 + 100px;
    margin-right: -100px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  figcaption {
    font-size: 12px;
    color: $grey-color;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.content-license {
  font-size: 12px;
  color: $grey-color;
}

.clearfix {
  clear: both;
}

div.excerpt-wrapper {
  perspective: 2000px;
}

article.excerpt {
  text-align: center;
  perspective: 300px;
  
  a:hover {
    text-decoration: none;
  }
  
  h3 {
    margin: 5px;
    font-size: 22px;
  }
  
  .excerpt-transform {
    transform: rotate3d(1, 0, 0, 0deg);
    transition: all .2s ease-in;
    &:hover {
      transform: rotate3d(1, 0, 0, 12deg);
      transition: all .2s ease-in;
    }
  }
  
  .excerpt-container {
    height: 130px;
    background: #ffffff;
    overflow: hidden;
    color: $brand-primary;
    border: 4px solid $brand-primary;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
    small {
      color: $grey-color-dark;
      transition: all .2s ease-in;
    }
    h3 {
      color: $brand-primary;
      transition: all .2s ease-in;
    }
    &:hover {
      background: $brand-primary;
      transition: all .2s ease-in;
      small, h3 {
      transition: all .2s ease-in;
        color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: $container-md + 200) {
  .img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    &.large {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    &.left {
      float: left;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
    &.right {
      float: right;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

#main-footer {
  margin-top: 20px;
  border-top: 1px solid $grey-color-light;
  padding-top: 20px;
  margin-bottom: 100px;
  font-size: 14px;
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}

article.post footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ad-blocked {
  display: none;
  border: 2px solid $brand-primary;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    font-weight: 700;
  }
}

.floatingad {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}

article {
  p {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
  }
}

@media (min-width: $screen-sm-min) {
  .floatingad {
    width: 350px;
    &.left {
      margin: 30px 30px 30px 0;
    }
    &.right {
      margin: 30px 0 30px 30px;
    }
  }
}

.instagram-media.instagram-media-rendered {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.embedly-card {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}