<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}
<body {% if page.hideHeader %}style="padding-top: 0;"{% endif %}>
  {% include header.html %}

  <main class="container-fluid" aria-label="Content">
    <div class="row">
      <div class="col-xs-12">
        {{ content }}
      </div>
    </div>
  </main>
  
  {% include footer.html %}
  
  <script type="text/javascript" src="{{ '/assets/main.js' | relative_url }}"></script>
  {% if page.scripts %}
    {% for script in page.scripts %}
      <script type="text/javascript" src="{{ script | relative_url }}"></script>
    {% endfor %}
  {% endif %}
</body>

</html>

